apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-config
  namespace: {{ namespaceName }}
  labels:
    app: postgres
data:
  POSTGRES_DB: postgresdb
  POSTGRES_USER: {{ postgresAdminUsername }}
---
apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: {{ namespaceName }}
type: Opaque
data:
  POSTGRES_PASSWORD: {{ postgresAdminPassword|b64encode }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: {{ namespaceName }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:14.2
          imagePullPolicy: "IfNotPresent"
          ports:
            - containerPort: 5432
          envFrom:
            - configMapRef:
                name: postgres-config
            - secretRef:
                name: postgres-secret
          volumeMounts:
            - mountPath: /var/lib/postgresql/data
              name: postgredb
      volumes:
        - name: postgredb
          persistentVolumeClaim:
            claimName: pvc-postgresql
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: {{ namespaceName }}
  labels:
    app: postgres
spec:
  type: NodePort
  ports:
    - port: 5432
  selector:
    app: postgres
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  namespace: {{ namespaceName }}
  labels:
    app: postgres
spec:
  type: ClusterIP
  ports:
    - port: 5432
  selector:
    app: postgres